{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детали пользователя</title>
    <link rel="stylesheet" href="{% static 'main/admin_panel.css' %}">
</head>
<body>
    <header>
        <h1><span class="logo-yellow">Другие Детали</span></h1>
        <nav class="nav-menu">
            <a href="{% url 'index' %}" class="nav-menu-item" data-hint="Перейти на главную">Главная</a>
            <a href="{% url 'history' %}" class="nav-menu-item" data-hint="Узнайте историю">История</a>
            <a href="{% url 'features' %}" class="nav-menu-item" data-hint="Изучите функции">Функции</a>
            <a href="{% url 'gallery' %}" class="nav-menu-item" data-hint="Посмотреть галерею">Галерея</a>
            <a href="{% url 'skills' %}" class="nav-menu-item" data-hint="Узнать про навыки">Навыки</a>
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class="nav-menu-item" data-hint="Посмотреть профиль">Профиль</a>
                <form action="{% url 'logout' %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-menu-item" data-hint="Выйти из аккаунта">Выход</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="nav-menu-item" data-hint="Войти в аккаунт">Вход</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h2 style="color: #f4b400;">{{ user.username }}</h2>
        <section>
            <h3>Сообщения:</h3>
            <ul>
                {% for feedback in feedbacks %}
                    <li>{{ feedback.message }}</li>
                {% empty %}
                    <p>Нет сообщений.</p>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h3>Навыки:</h3>
            <ul>
                {% for skill in skills %}
                    <li>{{ skill.name }} - {{ skill.get_level_display }}</li>
                {% empty %}
                    <p>Нет навыков.</p>
                {% endfor %}
            </ul>
        </section>
    </main>
    <footer>
        <p>© 2024 Data Science</p>
    </footer>
</body>
</html>
